* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}
div.the_issue {
    padding: 5% 5% 5% 5%;
	background-color: blue
}
div.solution {
  padding: padding: 5% 5% 5% 5%;
}
div.about {
  padding: padding: 5% 5% 5% 5%;
}