* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}
#title {
	margin: auto;
	text-alight: cetner;
}
#the_issue {
	padding: 5px 8px 3px 8px;
	margin: auto;
	width: 60%
}
#about {
	margin: auto;
	padding: 5px 8px 3px 8px;
	width: 60%
}
#marli {
	margin: 2% 2% 2% 2%;
}
#yash {
	margin: 2% 2% 2% 2%;
}